.Toolbar {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: #e4e4e4 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
}

.Toolbar nav {
  height: 100%;
  align-content: center;
}

@media (max-width: 500px) {
  .HideOnMobile {
    display: none;
  }
}

@media (min-width: 500px) {
  .HideOnDesktop {
    display: none;
  }
}
