.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 340px;
  box-sizing: border-box;
  padding: 24px 24px;
  padding-bottom: 32px;
  top: 20%;
  left: 50%;
  margin-left: -170px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 500px) {
  .Modal {
    width: 480px;
    top: 30%;
    left: 50%;
    padding: 20px 40px;
    margin-left: -240px;
  }
}
