.BuildControls {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.04);
  margin: auto;
  padding: 10px 0;
}
