body {
  background-color: black;
}

.greenDiv {
  background-color: green;
  color: azure;
  font-size: 28px;
  padding: 20px;
  border: 10px solid white;
  margin: 20px;
  font-family: sans-serif;
}
