.List {
  list-style: none;
  padding-left: 0px;
  width: 240px;
  color: #333;
}
li {
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
}

.Amount {
  width: 40px;
}

.Buttons {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 16px;
}
