/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Үндсэн стайлууд */
html,
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Цэсний container */
.container {
  margin: auto;
  max-width: 1024px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #fff;
}

/* Цэсний стайлууд */
#navbar {
  background: #fafafc;
  color: #333;
  overflow: auto;
}

#navbar a {
  color: #333;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  color: #000;
}

/* Showcase styles */
#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/hero-image-1.jpg) no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #efefef;
  text-align: center;
  padding: 200px 0;
}

#showcase .showcase-content h1 {
  font-size: 64px;
  line-height: 1.2em;
}
